<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>StaffController</servlet-name>
        <servlet-class>Controller.StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomController</servlet-name>
        <servlet-class>Controller.RoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TypeRoomController</servlet-name>
        <servlet-class>Controller.TypeRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>Controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemInRoomController</servlet-name>
        <servlet-class>Controller.ItemInRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authentication_register</servlet-name>
        <servlet-class>Controller.authentication_register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authentication_login</servlet-name>
        <servlet-class>Controller.authentication_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeResetPasss</servlet-name>
        <servlet-class>Controller.ChangeResetPasss</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNpay</servlet-name>
        <servlet-class>Controller.VNpay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNpayReturn</servlet-name>
        <servlet-class>Controller.VNpayReturn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>Controller.ViewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingByEventController</servlet-name>
        <servlet-class>Controller.BookingByEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemController</servlet-name>
        <servlet-class>Controller.ItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TypeOfItemController</servlet-name>
        <servlet-class>Controller.TypeOfItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRoomEvent</servlet-name>
        <servlet-class>Controller.LoadRoomEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authentication_register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TypeRoomController</servlet-name>
        <url-pattern>/typeRoomURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomController</servlet-name>
        <url-pattern>/roomURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffController</servlet-name>
        <url-pattern>/staffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/customerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemInRoomController</servlet-name>
        <url-pattern>/itemManageURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authentication_login</servlet-name>
        <url-pattern>/authentication-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeResetPasss</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRoomController</servlet-name>
        <url-pattern>/viewRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNpay</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNpayReturn</servlet-name>
        <url-pattern>/vnpay_return</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/viewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingByEventController</servlet-name>
        <url-pattern>/bookByEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemController</servlet-name>
        <url-pattern>/ItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TypeOfItemController</servlet-name>
        <url-pattern>/ItemTypeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRoomEvent</servlet-name>
        <url-pattern>/loadRoomEvent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
