<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>authentication_register</servlet-name>
        <servlet-class>Controller.authentication_register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authentication_login</servlet-name>
        <servlet-class>Controller.authentication_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeResetPasss</servlet-name>
        <servlet-class>Controller.ChangeResetPasss</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment</servlet-name>
        <servlet-class>Controller.Comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageComment</servlet-name>
        <servlet-class>Controller.ManageComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authentication_register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authentication_login</servlet-name>
        <url-pattern>/dashboard/jsp/authentication-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeResetPasss</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>ProtectedPage</filter-name>
        <filter-class>org.example.Filter.ProtectedPage</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ProtectedPage</filter-name>
        <url-pattern>/dashboard/jsp/logout</url-pattern>
        <url-pattern>/dashboard/jsp/index</url-pattern>
        <url-pattern>/dashboard/jsp/index.jsp</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>Comment</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageComment</servlet-name>
        <url-pattern>/manageComment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
